In [2]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
#from pathlib import Path

In [3]:


#data_df = Path("Resources/us_states_covid19_daily.csv")

data_df = pd.read_csv("Resources/us_states_covid19_daily.csv")
data_df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201206,AK,35720.0,NaN,1042056.0,NaN,totalTestsViral,1077776.0,164.0,799.0,...,1077776,0,0,7b1d31e2756687bb9259b29195f1db6cdb321ea6,0,0,0,0,0,NaN
1,20201206,AL,269877.0,45962.0,1421126.0,NaN,totalTestsPeopleViral,1645041.0,1927.0,26331.0,...,1691003,12,0,19454ed8fe28fc0a7948fc0771b2f3c846c1c92e,0,0,0,0,0,NaN
2,20201206,AR,170924.0,22753.0,1614979.0,NaN,totalTestsViral,1763150.0,1076.0,9401.0,...,1785903,40,21,25fc83bffff5b32ba1a737be8e087fad9f4fde33,0,0,0,0,0,NaN
3,20201206,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,8c39eec317586b0c34fc2903e6a3891ecb00469e,0,0,0,0,0,NaN
4,20201206,AZ,364276.0,12590.0,2018813.0,NaN,totalTestsPeopleViral,2370499.0,2977.0,28248.0,...,2383089,25,242,7cf59da9e4bc31d905e179211313d08879880a85,0,0,0,0,0,NaN

In [15]:
#data_df.info()

In [16]:
#data_df.columns

In [6]:
daily_data = pd.read_csv("Resources/us_covid19_daily.csv")

daily_data

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,totalTestResults,lastModified,total,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,hash
0,20201206,56,14534035,161986294,13592.0,101487.0,585676.0,20145.0,31946.0,7094.0,...,204063869,2020-12-06T24:00:00Z,0,0,1138,2256,1172590,176771,1634532,9cf16504f91958e803a2197daf8c2528a4eddc18
1,20201205,56,14357264,160813704,13433.0,101190.0,583420.0,19950.0,31831.0,7005.0,...,202429337,2020-12-05T24:00:00Z,0,0,2445,3316,1526995,211073,2169756,6249216c5f097c94ce33a811dab011a483a42404
2,20201204,56,14146191,159286709,12714.0,101276.0,580104.0,19858.0,31608.0,6999.0,...,200259581,2020-12-04T24:00:00Z,0,0,2563,4652,1260657,224831,1854869,ae30ea088584335ba4d57ee927f8dbda6add74db
3,20201203,56,13921360,158026052,15106.0,100755.0,575452.0,19723.0,31276.0,6867.0,...,198404712,2020-12-03T24:00:00Z,0,0,2706,5331,1238465,210204,1828230,0f253d185ecb336cdd18a4c61996eda1b7eef13b
4,20201202,56,13711156,156787587,14368.0,100322.0,570121.0,19680.0,31038.0,6855.0,...,196576482,2020-12-02T24:00:00Z,0,0,2733,5028,982032,195796,1459202,477c17b6302d0485195e77ecf8270a974f7a3c82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,20200126,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2020-01-26T24:00:00Z,0,0,0,0,0,0,0,69c67c81e64d10a5270497fc5336779c06fb812b
316,20200125,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2020-01-25T24:00:00Z,0,0,0,0,0,0,0,9ea5731f5b0a79617b994d6842eecfdbeb1dde35
317,20200124,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2020-01-24T24:00:00Z,0,0,0,0,0,0,0,287531342bc8d5f2650b0cc12ebcca3807a64b7b
318,20200123,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2020-01-23T24:00:00Z,0,0,0,0,0,0,1,e0563aac8e1bc7b8b8059c52831b97179ff6f981
319,20200122,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,2020-01-22T24:00:00Z,0,0,0,0,0,0,0,e0caa1c66c4aa83baf227afe12261a1493fc0d7e

In [7]:
counties_data = pd.read_csv("Resources/us_counties_covid19_daily.csv")
counties_data

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
800432  2020-12-05  Sweetwater     Wyoming  56037.0   2098    10.0
800433  2020-12-05       Teton     Wyoming  56039.0   1739     2.0
800434  2020-12-05       Uinta     Wyoming  56041.0   1187     5.0
800435  2020-12-05    Washakie     Wyoming  56043.0    519     8.0
800436  2020-12-05      Weston     Wyoming  56045.0    419     2.0

[800437 rows x 6 columns]

In [8]:
# merging states and daily together 

merge_data = pd.merge(data_df,daily_data,on="date")
merge_data

# I think i did something wrong here if you look at deathIncrease_y the value are the same 
# so merging them is not a good idea.

,date,state,positive_x,probableCases,negative_x,pending_x,totalTestResultsSource,totalTestResults_x,hospitalizedCurrently_x,hospitalizedCumulative_x,...,totalTestResults_y,lastModified,total_y,posNeg_y,deathIncrease_y,hospitalizedIncrease_y,negativeIncrease_y,positiveIncrease_y,totalTestResultsIncrease_y,hash_y
0,20201206,AK,35720.0,NaN,1042056.0,NaN,totalTestsViral,1077776.0,164.0,799.0,...,204063869,2020-12-06T24:00:00Z,0,0,1138,2256,1172590,176771,1634532,9cf16504f91958e803a2197daf8c2528a4eddc18
1,20201206,AL,269877.0,45962.0,1421126.0,NaN,totalTestsPeopleViral,1645041.0,1927.0,26331.0,...,204063869,2020-12-06T24:00:00Z,0,0,1138,2256,1172590,176771,1634532,9cf16504f91958e803a2197daf8c2528a4eddc18
2,20201206,AR,170924.0,22753.0,1614979.0,NaN,totalTestsViral,1763150.0,1076.0,9401.0,...,204063869,2020-12-06T24:00:00Z,0,0,1138,2256,1172590,176771,1634532,9cf16504f91958e803a2197daf8c2528a4eddc18
3,20201206,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,204063869,2020-12-06T24:00:00Z,0,0,1138,2256,1172590,176771,1634532,9cf16504f91958e803a2197daf8c2528a4eddc18
4,20201206,AZ,364276.0,12590.0,2018813.0,NaN,totalTestsPeopleViral,2370499.0,2977.0,28248.0,...,204063869,2020-12-06T24:00:00Z,0,0,1138,2256,1172590,176771,1634532,9cf16504f91958e803a2197daf8c2528a4eddc18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15628,20200124,WA,0.0,NaN,0.0,NaN,totalTestEncountersViral,0.0,NaN,NaN,...,2,2020-01-24T24:00:00Z,0,0,0,0,0,0,0,287531342bc8d5f2650b0cc12ebcca3807a64b7b
15629,20200123,MA,NaN,NaN,NaN,NaN,totalTestsViral,2.0,NaN,NaN,...,2,2020-01-23T24:00:00Z,0,0,0,0,0,0,1,e0563aac8e1bc7b8b8059c52831b97179ff6f981
15630,20200123,WA,0.0,NaN,0.0,NaN,totalTestEncountersViral,0.0,NaN,NaN,...,2,2020-01-23T24:00:00Z,0,0,0,0,0,0,1,e0563aac8e1bc7b8b8059c52831b97179ff6f981
15631,20200122,MA,NaN,NaN,NaN,NaN,totalTestsViral,1.0,NaN,NaN,...,1,2020-01-22T24:00:00Z,0,0,0,0,0,0,0,e0caa1c66c4aa83baf227afe12261a1493fc0d7e
15632,20200122,WA,0.0,NaN,0.0,NaN,totalTestEncountersViral,0.0,NaN,NaN,...,1,2020-01-22T24:00:00Z,0,0,0,0,0,0,0,e0caa1c66c4aa83baf227afe12261a1493fc0d7e

In [9]:
clean_data = merge_data.drop(['totalTestResultsSource', 'lastModified', 'hash_y'], axis=1)
clean_data

,date,state,positive_x,probableCases,negative_x,pending_x,totalTestResults_x,hospitalizedCurrently_x,hospitalizedCumulative_x,inIcuCurrently_x,...,death_y,hospitalized_y,totalTestResults_y,total_y,posNeg_y,deathIncrease_y,hospitalizedIncrease_y,negativeIncrease_y,positiveIncrease_y,totalTestResultsIncrease_y
0,20201206,AK,35720.0,NaN,1042056.0,NaN,1077776.0,164.0,799.0,NaN,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
1,20201206,AL,269877.0,45962.0,1421126.0,NaN,1645041.0,1927.0,26331.0,NaN,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
2,20201206,AR,170924.0,22753.0,1614979.0,NaN,1763150.0,1076.0,9401.0,374.0,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
3,20201206,AS,0.0,NaN,2140.0,NaN,2140.0,NaN,NaN,NaN,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
4,20201206,AZ,364276.0,12590.0,2018813.0,NaN,2370499.0,2977.0,28248.0,714.0,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15628,20200124,WA,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,2,0,0,0,0,0,0,0
15629,20200123,MA,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,2,0,0,0,0,0,0,1
15630,20200123,WA,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,2,0,0,0,0,0,0,1
15631,20200122,MA,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
15632,20200122,WA,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0

In [10]:
clean_data = clean_data.fillna(0)
clean_data

,date,state,positive_x,probableCases,negative_x,pending_x,totalTestResults_x,hospitalizedCurrently_x,hospitalizedCumulative_x,inIcuCurrently_x,...,death_y,hospitalized_y,totalTestResults_y,total_y,posNeg_y,deathIncrease_y,hospitalizedIncrease_y,negativeIncrease_y,positiveIncrease_y,totalTestResultsIncrease_y
0,20201206,AK,35720.0,0.0,1042056.0,0.0,1077776.0,164.0,799.0,0.0,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
1,20201206,AL,269877.0,45962.0,1421126.0,0.0,1645041.0,1927.0,26331.0,0.0,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
2,20201206,AR,170924.0,22753.0,1614979.0,0.0,1763150.0,1076.0,9401.0,374.0,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
3,20201206,AS,0.0,0.0,2140.0,0.0,2140.0,0.0,0.0,0.0,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
4,20201206,AZ,364276.0,12590.0,2018813.0,0.0,2370499.0,2977.0,28248.0,714.0,...,273374.0,585676.0,204063869,0,0,1138,2256,1172590,176771,1634532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15628,20200124,WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2,0,0,0,0,0,0,0
15629,20200123,MA,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,2,0,0,0,0,0,0,1
15630,20200123,WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2,0,0,0,0,0,0,1
15631,20200122,MA,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1,0,0,0,0,0,0,0
15632,20200122,WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1,0,0,0,0,0,0,0

In [36]:
death_sum = counties_data.groupby('state')['deaths'].sum().reset_index()
death_avg = counties_data.groupby('state')['deaths'].mean().reset_index()

case_avg = counties_data.groupby('state')['cases'].mean().reset_index()

hospitalized = data_df.groupby('state')['hospitalizedCumulative'].sum().reset_index()

hospitalizedIncrease = data_df.groupby('state')['hospitalizedIncrease'].sum().reset_index()

state_avg = pd.merge(death_avg,case_avg, on="state")
df = pd.merge(hospitalized,hospitalizedIncrease, on="state")
df

# feel free to explore before we start graphing.

   state  hospitalizedCumulative  hospitalizedIncrease
0     AK                 55545.0                   799
1     AL               2622751.0                 26331
2     AR                861542.0                  9401
3     AS                     0.0                     0
4     AZ               3215012.0                 28244
5     CA                     0.0                     0
6     CO               1616107.0                 14868
7     CT               2460004.0                 12257
8     DC                     0.0                     0
9     DE                     0.0                     0
10    FL               7070416.0                 57185
11    GA               4667944.0                 36039
12    GU                     0.0                     0
13    HI                114706.0                  1325
14    IA                  1696.0                     0
15    ID                308361.0                  4372
16    IL                     0.0                     0
17    IN               2464625.0                 28367
18    KS                516346.0                  5417
19    KY               1042749.0                 10678
20    LA                     0.0                     0
21    MA               2693788.0                 14397
22    MD               3016959.0                 22095
23    ME                 93823.0                   768
24    MI                     0.0                     0
25    MN               1502854.0                 18233
26    MO                     0.0                     0
27    MP                   604.0                     4
28    MS               1037345.0                  7486
29    MT                144058.0                  2836
30    NC                     0.0                     0
31    ND                175734.0                  2880
32    NE                414904.0                  4547
33    NH                147799.0                   849
34    NJ               4981616.0                 42456
35    NM                683296.0                  7321
36    NV                     0.0                     0
37    NY              21377064.0                 89995
38    OH               2910090.0                 29233
39    OK               1070546.0                 13119
40    OR                461707.0                  4859
41    PA                  7233.0                     0
42    PR                     0.0                     0
43    RI                567231.0                  4843
44    SC               1427475.0                 12380
45    SD                318875.0                  4835
46    TN               1361363.0                 12593
47    TX                     0.0                     0
48    UT                705014.0                  8822
49    VA               1976043.0                 15295
50    VI                     0.0                     0
51    VT                   473.0                     0
52    WA               1308170.0                 11475
53    WI               1492536.0                 18216
54    WV                   506.0                     0
55    WY                 57743.0                   852